  <div class="ml-8 mt-8">
    <div class="px-4 sm:px-0">
        <div class="px-4 py-6 mx-96"><br>
          <div class="overflow-x-auto">
            <table class="table-fixed divide-y-2 divide-gray-200 bg-white text-sm">
              <thead class="ltr:text-left rtl:text-right">
                <tr>
                  <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                    Anul de studiu
                  </th>
                  <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                    Materie Curs
                  </th>
                  <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                    Nume Profesor
                  </th>
                  <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                    Nota
                  </th>
                  <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                    Data:
                  </th>
                  <% if admin? %>
                    <th>
                    Actions
                    </th>
                  <% end %>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
                <% notes.each do |note| %>
                  <tr>
                    <% if note.user_id == current_user.id%>
                      <td class="whitespace-nowrap px-8 py-2 font-medium text-gray-900"><%= note.an %></td>
                      <td class="whitespace-nowrap px-8 py-2 text-gray-700"><%= note.materie %></td>
                      <td class="whitespace-nowrap px-8 py-2 text-gray-700"><%= note.profesor %></td>
                      <td class="whitespace-nowrap px-8 py-2 text-gray-700"><%= note.nota %></td>
                      <td class="whitespace-nowrap px-8 py-2 text-gray-700"><%= note.created_at %></td>
                    <% end %>
                    <% if admin? %>
                      <td class="whitespace-nowrap px-8 py-2 font-medium text-gray-900">Anul: <%= note.an %></td>
                      <td class="whitespace-nowrap px-8 py-2 text-gray-700"><%= note.materie %></td>
                      <td class="whitespace-nowrap px-8 py-2 text-gray-700"><%= note.profesor %></td>
                      <td class="whitespace-nowrap px-8 py-2 text-gray-700"><%= note.nota %></td>
                      <td class="whitespace-nowrap px-8 py-2 text-gray-700"><%= note.created_at %></td>
                      <td>
                        <%= link_to 'Editare', edit_note_path(note), class: "" %>
                      </td>
                    <% else%>
                      <td></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>
